{% extends 'adminbase.html' %}
{% load static %}

{% block contents %}
<div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <!--<div class="img-fill">-->
                <img src="{% static 'images/home.jpg' %}" alt="">
                <div class="text-content">
                      <h2>SVM-ALGORITHAM</h2>
            <p>
           .  <center><table border="1px" style="color:Pink">
                                    <tr><td></td><td>{{len0}}</td><td>{{len1}}</td><td>{{len2}}</td><td>{{len3}}</td></tr>
                                      <tr><td>{{len4}}</td><td>{{len5}}</td><td>{{len6}}</td><td>{{len7}}</td><td>{{len8}}</td></tr>
                                      <tr><td>{{len9}}</td><td>{{len10}}</td><td>{{len11}}</td><td>{{len12}}</td><td>{{len13}}</td></tr>
                                      <tr><td>{{len14}}</td><td></td><td></td><td>{{len15}}</td><td>{{len16}}</td></tr>
                                      <tr><td>{{len17}}&nbsp{{len18}}</td><td>{{len19}}</td><td>{{len20}}</td><td>{{len21}}</td><td>{{len22}}</td></tr>
                                      <tr><td>{{len23}}&nbsp{{len24}}</td><td>{{len25}}</td><td>{{len26}}</td><td>{{len27}}</td><td>{{len28}}</td></tr>
                                  </table></center>
..
        </p>

                </div>
            </div>
          </div>
{% endblock %}