{% extends 'base.html' %}
{% load static %}

{% block contents %}
<div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <!--<div class="img-fill">-->
                <img src="{% static 'images/home.jpg' %}" alt="">
                <div class="text-content">
                    <h2><form action="/hsploginentered/" method="POST">
                                 {% csrf_token %}<center>
                                <table><tr><td style="color:blue">
                                <input  type="text" name="uname" placeholder="hsp Login" ><br/><br/>
<!--                                    <input type="email" name="email"  placeholder="Email">-->
                                 <input  type="password" name="upasswd" placeholder="Password" ><br/><br/>
                                    </td></tr></table> <input type="submit" style="color:#FF4500" value="submit"><br/>

                           </center> </form> </h2>
                            {% if messages %}
                                {% for message in messages %}
                                    <font color='darkred'> {{ message }}</font>
                                {% endfor %}
                            {% endif %}

                </div>
            </div>
          </div>
{% endblock %}


